# Telegram bot token        
telegram-token:       
      
# VK group ID to post photos to       
vk-group-id:      
      
# VK group admin login and password       
vk-login:     
vk-password:

# SOCKS5 proxy settings
socks5-proxy:
  address:
  port:
  username:
  password: